{{ define "main" }}

{{ partial "page-title.html" . }}


<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Follow me on Social</h2>
      </div>
      <div class="col-12">
        <ul class="list-inline social-icons text-center">
          {{ range site.Params.social }}
          <li class="list-inline-item"><a href="{{.link}}"><i class="{{.icon}}"></i></a></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>

{{ end }}